*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import"./fonts";
/*components*/
@import"./component/header";
@import "./component/main";
@import "./component/sobremi";
@import "./component/servicios";
@import "./component/contacto";
@import "./component/precios";
/*base*/
@import "./base/extends";
@import "./base/mixins";
@import "./base/maps";



/*FOOTER*/
footer{
    font-family: $nav-footer-font;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 150px;
    justify-content: space-evenly;
    margin: 5em;
}
.footer{
    width: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
}
/*
.nombre_final p{
    text-align: center;
    padding: 5px;
}
.resumen{
    text-align: center;
}
.resumen{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.resumen p {
    padding: 5px;
}
*/
/* para queries:  .resumen{
    display: inline-block;
}*/
.resumen{
    display: flex;
    padding: 10px;
}
.resumen p{
    padding: 15px;
}
.redes{
    text-align: center;
}
.redes ul {
  display: flex;
  width: 47%;
  justify-content: space-evenly;
  margin: 0 auto;
  list-style: none;
}

.redes li a{
    padding: 5px;
    text-decoration: none;
    color: black;
}
.redes li a:hover{
    text-decoration: underline;
}
@media (max-width: 450px){
    .footer{
        margin-top: 200px;
    }
    
    .resumen{
        display: inline-block;
    }
    .nombre_final{
        margin-top: 100px;
    }
    .redes{
        padding: 30px;
    }
    
}