.contacto{
    padding: 100px 10% ;
    margin: 6%;
    max-width: 1170px;
    font-family: $body-font;
    font-size: 19px;
}
.contacto h1{
    text-align: center;
}
.contacto-container{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.521);
}
.contacto-container > * {
    padding: 1em;
}
.contacto-form label{
    padding: 10px;
}

/*nuevos estulos*/
.formulario{
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.form{
    background-color: white;
    width: 90%;
    margin: auto;
    max-width: 400px;
    font-family: $body-font;
    padding: 100px 1.5em;
    border-radius: 1em;

}
.form-container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}
.form-titulo{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}
.form-input{
    padding: 0 1em;
    font-size: 1rem;
}
@media (max-width: 450px){
    .form{
        padding: 3.5em 1em;
    }
    
}