/*MAIN*/

/*PAGINA INICIO*/
/*.bebe_central {
    background-image: url('../images/bebe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
  }*/
  .bebe_central{
    background-image: url('../images/bebe.jpg');
    background-size: cover;
    @extend %bg-images;
  }
  .intro{
      height: auto;
      width: 98.7vw;
  }
  .titulo{
    padding: 1em;
    text-align: center;
    font-family: $nav-footer-font;
    font-size: 2.5em;
  }
  .titulo span{
    display: block;
    transition: 0.4s;
  }
  .titulo span:hover{
      color: orangered
  }
  /*.frase p{
      font-family: $body-font;
      margin: 5%;
      text-align: center;
      font-size: 18px;
      padding: 15px;
  }*/
  
  .frase p{
    font-family: $body-font;
  }
  
  .carrusel img{
      display: inline;
      width: 33%;
  }
  .carrusel{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
  .carousel-inner > .carousel-item > img {
      object-fit: scale-down;
      height: 50vh;
      width: 100%;
  }
  /*.trabajos p{
      font-family: $body-font;
      margin: 10% auto 3%;
      text-align: center;
      padding: 10px;
      font-size: 25px;
  }*/
  .trabajos p{
    font-family: $body-font;
  }
  
  .galeria-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .galeria-fotos{
    margin: 0 auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
  }
  .galeria-fotos img{
    max-width: 100%;

    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }
  .galeria-fotos img:hover{
    opacity: .5;
  }
  @media screen and (max-width: 576px){
      .galeria-fotos{
          grid-template-columns: 1fr 1fr;
      }
  }
  