/*precio*/
.precios-main{
    font-family: $body-font;
    display: flex;
    flex-direction: column;
}
/*.precios-img{
    background-image: url('../images/fondo-precio.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}*/
.precios-img{
    background-image: url('../images/fondo-precio.jpg');
    background-repeat: map-get($map: $bg-images, $key:repeat);
    background-position: map-get($map: $bg-images, $key:bg-position);
    height: map-get($map: $bg-images, $key: height);
    overflow: map-get($map: $bg-images, $key: overflow);
}

.precios-frase{
    border: 1px solid rgba(128, 128, 128, 0.342);
    margin: 10px;
    background-color: rgb(253, 201, 201);
    display: flex;
    justify-content: center;
}
.precios-frase p{
    font-family: $body-font;
    margin: 5%;
    text-align: center;
    font-size: 18px;
    padding: 15px;
}
.precios-container ul{
    padding: 20px;
}
.precios-container li{
    padding: 10px;
    font-size: 18px;
}
.precios-container ul,
.precios-container ul a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.precios-container a:hover{
    text-decoration: underline;
}