/*PAGINA SERVICIOS*/
.servicios-container{
 
    padding: 100px;
}
.btn-primary{
    background-color: pink;
    border-color: pink;
}
.btn-primary:hover{
    background-color: rgb(247, 134, 153);
    border-color: rgb(247, 134, 153);
}
.btn-primary:active{
    background-color: pink;
    border-color: pink;
}
.btn-primary:disabled{
    background-color: pink;
    border-color: pink;
}
.btn:active{
    background-color: pink;
    border-color: pink;
}  
.btn:disabled{
    background-color: pink;
    border-color: pink;
}  
