%bg-images {
   background-repeat: no-repeat;
   background-position: center;
   height: 70vh;
   overflow: hidden; 
}
@media screen and (max-width: 420px){
   .bebe_central{
     height: 44vh;
   }
}
